In [3]:
import pandas as pd
a=pd.read_csv("/content/2.csv")
print(a)
b=pd.read_csv("/content/2.tsv")
print(b)
c=pd.read_csv("/content/2.tsv")
print(c)
# Read data from URL
url = 'https://raw.githubusercontent.com/solthipranav/AIML/main/csv'
df_url = pd.read_csv("/content/url.txt")
print("\nData from URL:")
print(df_url)

                         Name   Age        Ht no      Place
0  pranav                   19    19  2203A52126  Huzurabad
1               Vamshi krishna    19  2203A52127     Ambala
2                      Avinash    19  2203A52227   Indurthi
3                 Gopi krishna    21  2203A52076     Parkal
4                       harsha    19  2203A52099   Warangal
       Name \t       Age \tHt no\t         Place\t\t
0      Pranav\t        19\t2203A52126\tHuzurabad\t\t
1         Vamshi krishna\t19\t2203A52127\tAmbala\t\t
2      Avinash\t        19\t2203A52227\tIndurthi\t\t
3           Gopi krishna\t21\t2203A52076\tParkal\t\t
4  Sravan\t        19      2203A52099      Warang...
       Name \t       Age \tHt no\t         Place\t\t
0      Pranav\t        19\t2203A52126\tHuzurabad\t\t
1         Vamshi krishna\t19\t2203A52127\tAmbala\t\t
2      Avinash\t        19\t2203A52227\tIndurthi\t\t
3           Gopi krishna\t21\t2203A52076\tParkal\t\t
4  Sravan\t        19      2203A52099      Warang...

Data from URL:
       Name \t       Age \tHt no\t         Place\t\t
0      Pranav\t        19\t2203A52126\tHuzurabad\t\t
1         Vamshi krishna\t19\t2203A52127\tAmbala\t\t
2      Avinash\t        19\t2203A52227\tIndurthi\t\t
3           Gopi krishna\t21\t2203A52076\tParkal\t\t
4  Sravan\t        19      2203A52099      Warang...